/* Fix Discord's style priority issue. Need to match specificity. */
div[class] .addon-embed-copied:hover {
  color: var(--text-feedback-positive) !important;
}

.addon-embed-main-content {
  display: flex;
  flex: 1;
  gap: 16px;
  align-items: center;
  max-width: 100%;
}

.addon-embed-build-info {
  flex: auto;
  min-width: 150px;
  max-width: 210px;
}

.replugged-addon-embed-button-tooltip {
  display: flex;
  flex: 1;
}

.replugged-addon-embed-button {
  flex: 1;
}

.replugged-addon-embed-title-tooltip {
  overflow: hidden;
}

.replugged-addon-embed-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.replugged-addon-embed-store-button {
  padding-right: 0px;
  flex: none;
}

.replugged-addon-embed-copy-button {
  flex: none;
}
