.idea
/.cache
/.logs
node_modules
result
dist/
dist-bundle/
.parcel-cache
yarn.lock
package-lock.json

config.json
*.nogit.*

# macOS
.DS_Store

.installdir-*

/docs
/*.asar
/bin.mjs
/*.d.ts
/i18n/*.map
