.idea
/.cache
/.logs
node_modules
yarn.lock
pnpm-lock.yaml
result


plugins/*
!plugins/.gitkeep

src/Powercord/coremods/react-devtools/ext
themes/*
!themes/.gitkeep

settings/*.json

settings/quickcss/*
!settings/quickcss/.gitkeep

config.json
*injected.txt
*.nogit.*

# macOS
.DS_Store

.installdir-*
