.replugged-addon-cards {
  display: grid;
  gap: var(--space-md);
}

.replugged-addon-card {
  background-color: var(--bg-base-secondary);
  border: 1px solid var(--border-subtle);
  width: 100%;
  padding: var(--spacing-16);
  border-radius: var(--radius-sm);
}

.replugged-addon-icon,
.replugged-addon-icon a {
  display: flex;
}

.replugged-addon-icon svg {
  color: var(--interactive-normal);
  height: 2ch;
}

.replugged-addon-icon-md svg {
  height: 1.75ch;
}

.replugged-addon-icon-author svg {
  height: 1.5ch;
}

.replugged-addon-icon:hover svg {
  color: var(--interactive-hover);
}

.replugged-addon-breadcrumbs {
  margin-bottom: 20px;
}
.replugged-addon-breadcrumbsActive {
  color: var(--header-primary);
}
.replugged-addon-breadcrumbsInactive {
  cursor: pointer;
  color: var(--header-secondary);
}
.replugged-addon-breadcrumbsInactive:hover {
  color: var(--header-primary);
}
