.replugged-addon-card {
  background-color: var(--background-base-lower);
  border: 1px solid var(--border-subtle);
  width: 100%;
  padding: var(--space-16);
  border-radius: var(--radius-sm);
}

.replugged-addon-icon {
  display: block;
}

.replugged-addon-icon-container {
  color: var(--icon-tertiary);
}
.replugged-addon-icon-container:hover {
  color: var(--interactive-hover);
}

.replugged-addon-back {
  margin-bottom: var(--space-16);
}

.replugged-addon-back-button {
  align-items: center;
  color: var(--interactive-normal);
  display: flex;
  gap: var(--space-4);
  text-transform: uppercase;
}
.replugged-addon-back-button:hover {
  text-decoration: underline;
}
