#replugged-quickcss-wrapper {
  color: var(--text-normal);
  height: 100%; /* SB: Prevent huge ass margins */
}

#replugged-quickcss-wrapper[data-popout="true"] {
  width: 100% !important;
}

#replugged-quickcss-wrapper .cm-editor {
  border: 1px solid transparent;
  border-radius: 4px;
  border: 1px solid var(--background-tertiary);
  outline: none !important;
  height: 100%; /* SB: Prevent huge ass margins */
}

#replugged-quickcss-wrapper .cm-gutters {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

#replugged-quickcss-wrapper .cm-gutterElement {
  margin: 0px;
}

#replugged-quickcss-wrapper .cm-content {
  padding: 0px;
}

#replugged-quickcss-wrapper .cm-content,
#replugged-quickcss-wrapper .cm-gutter {
  min-height: 300px;
}

/*
#replugged-quickcss-wrapper .cm-scroller {
  overflow: auto; SB: Overflow already sets itself to auto, shouldn't be a problem removing it.
  max-height: 75vh;
}

TODO: Fix the height not working in popout 
#replugged-quickcss-wrapper[data-popout="true"] .cm-scroller {
  max-height: 95vh;
} 
SB: Don't think that's needed anymore. */

#replugged-quickcss-wrapper .cm-scroller::-webkit-scrollbar {
  width: 10px;
  height: 0px;
  padding: 10px;
}

#replugged-quickcss-wrapper .cm-scroller::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thin-thumb);
  border-radius: 10px;
}

.replugged-quickcss-header {
  height: 30px;
  color: var(--text-normal);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding: 7px 15px;
  background-color: var(--background-secondary);
}
/* Why do these have to be different in different windows.. */
#replugged-quickcss-wrapper[data-popout="true"] .replugged-quickcss-header {
  height: 16px;
}

.replugged-quickcss-header span,
.replugged-quickcss-header svg {
  width: 100%;
  height: 100%;
}


/* SB: This is fucking horrendous but this is why there's a major problem
too when you try to height 100% everything to fit correctly 
This is obviously a kinda bad solution that needs to be fixed without css
I would fix it myself but idk how to typescript so have this abomination for now.
If you remove this section of the code, the Discord Title bar will show up which is
annoying since it's black and well with Light Theme it don't make sense bud. */
[class^="popout-"]:has(#replugged-quickcss-wrapper) [class^="content-"] {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* SB: This is also horrendous, need a class here people.
It works though. This is part of the real fix. */
#replugged-quickcss-wrapper > div:last-of-type {
  height: calc(100% - 31px); /* SB: Why 31 pixels? I HAVE NO IDEA (blame the settings button at the top. */
}