.replugged-updater-header {
  margin-bottom: 10px;
}

.replugged-updater-items {
  gap: 8px;
}

.replugged-updater-item {
  background-color: var(--background-secondary);
  padding: 15px;
  border-radius: 5px;
}

.replugged-updater-check {
  margin-right: 10px;
}