.recelled-updater-header {
  margin-bottom: 10px;
}

.recelled-updater-items {
  gap: 8px;
}

.recelled-updater-item {
  background-color: var(--background-secondary);
  padding: 15px;
  border-radius: 5px;
}
