.replugged-badges-container {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}

.replugged-badge {
  padding: 3px;
  box-sizing: border-box;
}

.replugged-badge:before {
  display: none !important;
}
