.replugged-category-content {
  margin-top: var(--space-4);
  margin-left: var(--space-12);
  border-left: 1px solid var(--border-subtle);
  padding-left: var(--space-20);
}

.replugged-category-disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.replugged-category-icon {
  width: 28px;
  height: 28px;
  transition: transform 0.3s;
}

.replugged-category-input {
  cursor: pointer;
}

.replugged-category-hidden-input {
  border: 0px;
  clip: rect(0px, 0px, 0px, 0px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0px;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
