.recelled-error-boundary h1 {
  font-size: 24px;
  font-family: var(--font-display);
  font-weight: bold;
  color: var(--header-primary);
  text-align: center;
  margin-bottom: 16px;
}

.recelled-error-boundary h3 {
  font-size: 14px;
  font-family: var(--font-primary);
  font-weight: 500;
  color: var(--header-primary);
}

.recelled-error-boundary .recelled-error-boundary-plugin {
  margin-bottom: 8px;
}

.recelled-error-boundary p {
  font-size: 16px;
  font-family: var(--font-primary);
  font-weight: normal;
  color: var(--text-muted);
  text-align: center;
  margin: 0px;
}

.recelled-error-boundary-collapsible {
  color: var(--header-primary);
  background-color: var(--background-secondary-alt);
  border-radius: 8px;
  transition: background-color 0.1s ease;
  padding: 8px 12px;
  margin-top: 16px;
}

.recelled-error-boundary-collapsible:active {
  background-color: var(--background-accent);
}

.recelled-error-boundary-collapsible-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.recelled-error-boundary-collapsible-stack {
  background-color: var(--background-secondary);
  color: var(--text-normal);
  border-radius: 5px;
  border: 1px solid var(--background-tertiary);
  margin: 10px 0px;
  padding: 12px;
  user-select: text;
  white-space: pre-wrap;
}
