.replugged-keybind-item-container {
  position: relative;
}

.replugged-keybind-item-container:not(:hover) .replugged-keybind-item-clear-tooltip {
  opacity: 0;
}

.replugged-keybind-item-container .replugged-keybind-item-clear:has([disabled]) {
  cursor: not-allowed;
  filter: brightness(75%);
}

.replugged-keybind-item-clear-tooltip {
  opacity: 1;
  background-image: url(https://discord.com/assets/cc9937ea92f932c3.svg);
  background-color: var(--button-danger-background);
  right: -15px;
  top: -15px;
  cursor: pointer;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  box-shadow: var(--legacy-elevation-border), var(--legacy-elevation-low);
  transition: opacity 0.1s ease-in-out;
  position: absolute;
}

.replugged-keybind-item-clear-button {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  opacity: 0;
}
