[class^="wrapper"] [class^="buttons_"] {
  flex-direction: column;
  align-items: center;
}
[class^="wrapper"] [class^="button"] {
  width: 400px;
  margin: 5px;
}

.recovery-button {
  width: 400px;
  margin: 5px;
  background-color: var(--button-danger-background) !important;
}
[class^="wrapper"] [class^="scrollbarGhostHairline"] {
  white-space: break-spaces;
  width: 80vw;
  text-align: center;
}
